/* селекторы тегов */
body{
    background: url(../img/Penguins.jpg) no-repeat top right fixed, 
                url(../img/back.jpg);
}


/* a{
    color: inherit;
    text-decoration: none;
} */

p{
    margin: 20px 0;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}


ul{
    color: #ff0; 
    font-family: Arial;   
}

/* id-селекторы */
#menu{
    font-size: 24px;
}

#menu li a{
    color: #f90;
}

#catalog{
    font-size: 18px;
}

#catalog a{
    color: #e49;
}

/* селекторы классов */
.sale{
    color: red;
}

.image{
    width: 300px;
    transition: width 0.5s;
    box-shadow: 20px 20px 50px #111;
}

.image:hover{
    width: 400px;
}